<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>homestay.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>homestay.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRoomController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomFromCategoryController</servlet-name>
        <servlet-class>homestay.controllers.ShowRoomFromCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistController</servlet-name>
        <servlet-class>homestay.controllers.RegistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>homestay.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRoomToAdminController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllRoomToAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoomFromCategoryWithStatusController</servlet-name>
        <servlet-class>homestay.controllers.GetRoomFromCategoryWithStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRoomWithStatusController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllRoomWithStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomDetailController</servlet-name>
        <servlet-class>homestay.controllers.ShowRoomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>homestay.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserCOntroller</servlet-name>
        <servlet-class>homestay.controllers.SearchUserCOntroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>homestay.controllers.ShowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>homestay.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>homestay.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoomController</servlet-name>
        <servlet-class>homestay.controllers.InsertRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>homestay.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingListController</servlet-name>
        <servlet-class>homestay.controllers.ShowBookingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyBookingController</servlet-name>
        <servlet-class>homestay.controllers.ViewMyBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartController</servlet-name>
        <servlet-class>homestay.controllers.DeleteFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUserBookingRequestController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllUserBookingRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>homestay.controllers.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRoomController</servlet-name>
        <servlet-class>homestay.controllers.BookRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserRoomController</servlet-name>
        <servlet-class>homestay.controllers.ShowUserRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllBookedRoomController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllBookedRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingController</servlet-name>
        <servlet-class>homestay.controllers.DeleteBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRequestController</servlet-name>
        <servlet-class>homestay.controllers.ConfirmRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>homestay.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUserBookController</servlet-name>
        <servlet-class>homestay.controllers.ShowAllUserBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingRequestController</servlet-name>
        <servlet-class>homestay.controllers.DeleteBookingRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomController</servlet-name>
        <servlet-class>homestay.controllers.EditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>homestay.controllers.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>homestay.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserPasswordController</servlet-name>
        <servlet-class>homestay.controllers.GetUserPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmChangePasswordController</servlet-name>
        <servlet-class>homestay.controllers.ConfirmChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRoomController</servlet-name>
        <url-pattern>/ShowAllRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomFromCategoryController</servlet-name>
        <url-pattern>/ShowRoomFromCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistController</servlet-name>
        <url-pattern>/RegistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRoomToAdminController</servlet-name>
        <url-pattern>/ShowAllRoomToAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoomFromCategoryWithStatusController</servlet-name>
        <url-pattern>/GetRoomFromCategoryWithStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRoomWithStatusController</servlet-name>
        <url-pattern>/ShowAllRoomWithStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomDetailController</servlet-name>
        <url-pattern>/ShowRoomDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserCOntroller</servlet-name>
        <url-pattern>/SearchUserCOntroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/ShowCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoomController</servlet-name>
        <url-pattern>/InsertRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingListController</servlet-name>
        <url-pattern>/ShowBookingListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyBookingController</servlet-name>
        <url-pattern>/ViewMyBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartController</servlet-name>
        <url-pattern>/DeleteFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUserBookingRequestController</servlet-name>
        <url-pattern>/ShowAllUserBookingRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRoomController</servlet-name>
        <url-pattern>/BookRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserRoomController</servlet-name>
        <url-pattern>/ShowUserRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBookedRoomController</servlet-name>
        <url-pattern>/ShowAllBookedRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingController</servlet-name>
        <url-pattern>/DeleteBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRequestController</servlet-name>
        <url-pattern>/ConfirmRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUserBookController</servlet-name>
        <url-pattern>/ShowAllUserBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingRequestController</servlet-name>
        <url-pattern>/DeleteBookingRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomController</servlet-name>
        <url-pattern>/EditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/ViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserPasswordController</servlet-name>
        <url-pattern>/GetUserPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmChangePasswordController</servlet-name>
        <url-pattern>/ConfirmChangePasswordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
